
html, body {
  height: 100%;
}

#root{
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.pageWrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/*********************/

.variant-sku {
  margin-left: 0.625rem;
}

.product-buttons {
  color: #fff;
}

.userViewMsg {
  margin-top: 0.625rem;
}

.uersView {
  margin-right: 0.625rem;
}

/************************/

.cursorPointer {
    cursor: pointer;
}

input.checkbox {
  margin-right: 0.3125rem;
}

.addressFooter {
  list-style: none;
}
