.variant-sku {
  margin-left: 0.625rem;
}

.product-buttons {
  color: #fff;
}

.userViewMsg {
  margin-top: 0.625rem;
}

.uersView {
  margin-right: 0.625rem;
}

/************************/

.cursorPointer {
    cursor: pointer;
}

input.checkbox {
  margin-right: 0.3125rem;
}

